@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;700&display=swap');

* {
    margin: 0px;
    font-family: 'Jost', sans-serif;
}


:root{
    --main-bg-color:white;
    --secondary-bg-color:#FF7F99;
    --button-bg-color:#ffca41;
    --button-hoover-color:#FBE7B4; 
    --main-text-color: black;
    --title-text-color:#FF7F99;
    --secondary-text-color: white;
}

/* Encabezado */

header {
    height: 100px;
    background-color: var(--secondary-bg-color);
    display: flex;
    justify-content: space-between;
    padding: 0% 3%;
}

.logo {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav_button {
    border: transparent;
    background: transparent;
    color: var(--secondary-text-color);
    font-size: 24px;
    padding: 3px 40px 3px 40px;
    border-radius: 16px;
}

.nav_button:hover {
    background: var(--button-hoover-color);
}

/* Sección principal landing page */

main {
    display:flex;
    justify-content:space-evenly;
    padding-top: 30px;
    padding-bottom: 30px;
}

.imagen_principal{
    background: var(--secondary-bg-color);
    width: 40%;
    height: 500px;
    border-radius: 50% 0% 50% 50%;
}

.imagen_principal img{
    width: 95%;
    height: 95%;
    border-radius: 90%;
    margin-left: 15px; 
    margin-top: 12px;   
}

.texto{
    width: 40%;
}

.main_button {
    border-radius: 40px;
    border-style: none;
    background: var(--button-bg-color);
    color: var(--secondary-text-color);
    font-size: 20px;
    font-weight: 700;
    padding: 20px 35px;
    position: absolute;
    margin-top: 23px;
}


/*Formulario*/

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
  }
  
.titulo-form {
    color: var(--title-text-color);
}


label {
    margin-top: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  aside {
    width: 55%;
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus,
  textarea:focus {
    outline: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .main_button {
    border-radius: 25px;
    border-color: var(--main-bg-color);
    background: var(--button-bg-color);
    color: var(--secondary-text-color);
    font-size: 14px;
    width: 20%;
    padding: 15px 30px 15px 30px;
    margin-top: 15px;
    border:none;
}  

.main-button[type="submit"]:hover {
    background-color: #0D47A1;
  }
  
  .main-button[type="submit"]:active {
    background-color: #0B3D91;
  }

.main_button:hover{
    background-color: var(--button-hoover-color);
}

/* Mensaje enviado */

.mensaje_enviado {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    justify-self: center;
    align-self: center;
}

.gracias {
    margin: 0;
    line-height: 0.8;
    font-size: 85px;
    color: var(--title-text-color);
}

.mensaje {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
}

.imagen {
    width: 45%;
}


/* Pie de página */

footer {
    display: grid;
    background: var(--secondary-bg-color);
    grid-template-columns: repeat(5, 20%)
}

.coder {
    display: grid;
    justify-items: center;
    align-items: center;
    color: var(--secondary-text-color);
    margin: 70px 0px;
}

.coder a{
    font-size: 22px;
}

.coder p {
    font-size: 16px;
    color: var(--main-text-color);
    margin-top: 3px;
    margin-bottom: 10px;
}

.img_coder {
    width: 100%;
    height: 242px;
    margin: center;
    border-radius: 50%;
}

.integrantes{
    width: 100%;
    padding: auto;
    height: 100%;
}


.linkedin {
    width: 40px;
    height: 40px;
}

a {
    text-decoration: none;
    color: var(--secondary-text-color);    
}

@media (max-width: 750px) {

    header {
        display: flex;
        flex-direction: column;
        width: auto;
        margin-bottom: 1px;
        height: 200px;
        justify-content: center;
    }

    nav {
        flex-direction: column;
        display: flex;
    }

    main {
        display: flex;
        flex-direction: column-reverse;
    }

    
    .logo{
        justify-content: center;
    }

    .logo img {
        margin: auto;
        padding: auto;
    }

    .formulario{
        margin: 30px;
        margin-bottom: 50%;
        font-size: 20px;
    }

    .main_button{
        margin-top: 30px;
        width: 300px;
    }

    
    .imagen_principal{
        display: none;
    }

    .mensaje_enviado{
        justify-content: center;
        margin: 50% 0%;
        text-align: center;
        align-items: center;
    }

    footer{
        display: grid;
        grid-template-columns: 100%;
    }


}
